.opacity-box {
	width          : 200px;
	max-width      : 50%;
	padding        : 2em 0;
	display        : inline-block;
	color          : white;
	text-align     : center;
	vertical-align : middle;
}
#slider_1 {
	margin-top : 0.2em;
}